body{
	margin:auto;
	background-color:#9ACDAD;
	font-family: 'Open Sans', sans-serif;
	line-height: 2;

}
.container{
	width:100%;
	/*border-radius:10px;
	background-color:#ffffff;
	margin:5% auto;
	box-shadow: 5px 5px 10px #777777;*/
}
.happyface{
	background-image:url('../images/mad-lib-happy-face.png');
	background-repeat: no-repeat;
	height:201px;
}
.logo{
	background-image:url('../images/ng-mad-libs-logo.png');
	background-repeat: no-repeat;
	height:200px;
	
}
#heading{
	font-family: 'Open Sans', sans-serif;
	font-size:5em;
}
.content{
	width:80%;
	margin:auto;
	font-size:2em;
	padding:1em;
}
input{
	padding:0.5em;
	font-family: 'Indie Flower', cursive;
}
form{
	text-align:center;
}
.btn{
	margin:5em;
}
.female-name,.job-title,.t-task,.d-task,.celebrity,.useless-skill,.adjective,.o-celebrity,.num{
	background-color:#999999;
	color:#ffffff;
	border-radius:5px;
	font-family: 'Indie Flower', cursive;
}
.game,.pgfront{
	width:70%;
	border-radius:10px;
	background-color:#ffffff;
	margin:5% auto;
	box-shadow: 5px 5px 10px #777777;
	transition:1s all ease-in;
}
.game.ng-hide-add,
.game.ng-hide-remove {
  display: block !important;
}
.game.ng-hide-remove,
.game.ng-hide-add.ng-hide-add-active {
 margin-top:100px;
 opacity: 0;
}
.game.ng-hide-remove.ng-hide-remove-active,
.game.ng-hide-add {
  margin-top:0px;
  opacity: 1;
}
.pgfront.ng-hide-add,
.pgfront.ng-hide-remove {
  display: block !important;
}
.pgfront.ng-hide-remove,
.pgfront.ng-hide-add.ng-hide-add-active {
 opacity: 0;
}
.pgfront.ng-hide-remove.ng-hide-remove-active,
.pgfront.ng-hide-add {
  opacity: 1;
}