<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ngMadlibs</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/madlibs.css">
	<link href="https`://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans" rel="stylesheet" type="text/css">
	<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--Angular script-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	 <script type="text/javascript" src="https://code.angularjs.org/1.2.18/angular-animate.min.js"></script>

	  <script src="app.js"></script>
</head>
<body ng-controller="myController">
	<div class="container">
		<div class="pgfront" ng-show="pgfront=='show'">
			<header>
				<div class="col-md-4">
					<div class="happyface"> </div>
				</div>
				<div class="col-md-8">
					<div class="logo"></div>
				</div>
				<h1 id="heading">Automate This</h1>
				<hr>
			</header>
			<div id="value">
					<p class="content">Please provide following words.
					</p>
					<form role="form" ng-submit="generateMadlib()">
						
						<div class="row">
							<div class="col-md-4" >
                  				<div class="form-group">
								<input type="text" name="female name" placeholder="Female name" ng-model="femaleName" required/>
								</div>
								<div class="form-group">
								<input type="text" name="job title"  placeholder="Job Title" ng-model="jobTitle" required/>
								</div>
								<div class="form-group">
								<input type="text" name="tedious task" placeholder="Tedious task" ng-model="tediousTask" required/>
								</div>
							</div>
							<div class="col-md-4">
                  				<div class="form-group">	
									<input type="text" name="dirty task" placeholder="Dirty task" ng-model="dirtyTask" required/>
								</div>
								<div class="form-group">
									<input type="text" name="celebrity" placeholder="Celebraty" ng-model="celebrity" required/>
								</div>
								<div class="form-group">
									<input type="text" name="useless skill" placeholder="Useless skill" ng-model="uselessSkill" required />
								</div>
							</div>
							<div class="col-md-4">	
								<div class="form-group">
									<input type="text" name="adjective" placeholder="Adjective" ng-model="adjective"  required/>
								</div>
								<div class="form-group">
									<input type="text" name="obnoxious celebrity"  placeholder="Obnoxious celebraty" ng-model="obnoxiousCelebraty" required/>
								</div>
								<div class="form-group">
									<input type="number" name="huge number"  ng-model="num" required/>
								</div>
							</div>

						</div>
						<hr>
							<button type="submit" class="btn btn-primary btn">Generate my madLib</button>
							
						</div>
						
					</form>
			</div>
		</div>	
		<form  ng-submit="startOver()">
			<div class="game" ng-show="pgfront=='hide'">
				<div class="content">
					<span class="female-name">{{femaleName}} </span> was a<span class="job-title"> {{jobTitle}}</span> who loved technology. Although she loved parts of her job, she absolutely hated <span class="t-task">   {{tediousTask}}  </span> and <span class="d-task">   {{dirtyTask}}  </span>. So,<span class="female-name">   {{femaleName}} </span>met with her life mentor <span class="celebrity">{{celebrity}}   </span>who told her to learn how to <span class="useless-skill">  {{uselessSkill}}   </span> with Thinkful. Thinkful didn't offer a course on <span class="useless-skill">  {{uselessSkill}}   </span>so she studied programming instead. 
				 
					What a great decision! With her new skills, <span class="female-name">   {{femaleName}}  </span> built a(n) <span class="adjective">   {{adjective}}   </span>robot named <span class="o-celebrity">  {{obnoxiousCelebraty}}   </span>that not only loved <span class="d-task">  {{dirtyTask}}</span>but did it <span class="num">  {{num}}   </span>times faster.
		 		</div>
		 		<button type="submit" class="btn btn-primary btn">Start over</button>
		 	</div>
		 	</form>
	</div>
</body>
</html>