<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>ngMadlibs</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/madlibs.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	  <script src="app.js"></script>
</head>
<body ng-controller="myController">
	<div class="container">
			<header>
				<div class="happyface"> </div>
				<div class="logo"></div>
				<hr>
			</header>
			<form>
			<div class="content">Please provide following words.</div>
				<p class="title">Female Name:</p>
				<input type="text" name="female name" placeholder="Female name" ng-model="template.femaleName" />
				<p class="title">Job title:</p>
				<input type="text" name="job title"  placeholder="Job Title" ng-model="template.jobTitle" />
				<p class="title">Tedious task</p>
				<input type="text" name="tedious task" placeholder="Tedious task" ng-model="template.tediousTask" />
				<p class="title">Dirty Task</p>
				<input type="text" name="dirty task" placeholder="Dirty task" ng-model="template.dirtyTask" />
				<p class="title">Celebrity</p>
				<input type="text" name="celebrity" placeholder="Celebraty" ng-model="template.celebrity" />
				<p class="title">Useless Skill</p>
				<input type="text" name="useless skill" placeholder="Useless skill" ng-model="template.uselessSkill" />
				<p class="title">Adjective</p>
				<input type="text" name="adjective" placeholder="Adjective" ng-model="template.adjective" />
				<p class="title">Obnoxious celebraty</p>
				<input type="text" name="obnoxious celebrity" placeholder="Obnoxious celebraty" ng-model="template.obnoxiousCelebraty" />
				<p class="title">Any number</p>
				<input type="number" name="huge number"  ng-model="template.num" />
			</form>
			<hr>
			<div class="content">
			<span class="female-name">     {{template.femaleName}}    </span> was a<span class="job-title"> {{template.jobTitle}}</span> who loved technology. Although she loved parts of her job, she absolutely hated <span class="t-task">   {{template.tediousTask}}  </span> and <span class="d-task">   {{template.dirtyTask}}  </span>. So,<span class="female-name">   {{template.femaleName}} </span>met with her life mentor <span class="celebrity">{{template.celebrity}}   </span>who told her to learn how to <span class="useless-skill">  {{template.uselessSkill}}   </span> with Thinkful. Thinkful didn't offer a course on <span class="useless-skill">  {{template.uselessSkill}}   </span>so she studied programming instead. 
		 
			What a great decision! With her new skills, <span class="female-name">   {{template.femaleName}}  </span> built a(n) <span class="adjective">   {{template.adjective}}   </span>robot named <span class="o-celebrity">  {{template.obnoxiousCelebraty}}   </span>that not only loved <span class="d-task">  {{template.dirtyTask}}   </span>but did it <span class="num">  {{template.num}}   </span>times faster.
		 	</div>
</div>
</body>
</html>